.breadcrumbs {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.breadcrumbs ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.breadcrumbs li {
    margin-left: 30px;
    position: relative;
    font-size: 16px;
}

.breadcrumbs li:first-child {
    margin-left: 0;
}

.breadcrumbs li::before {
    content: ">";
    position: absolute;
    width: 10px;
    left: -15px;
    top: 3px;
    color: var(--breadcrumbs-grey);
}

.breadcrumbs li:first-child:before {
    content: "";
}

.breadcrumbs span {
    color: var(--primary);
}

.breadcrumbs a {
    color: var(--breadcrumbs-grey);
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

@media (min-width: 1200px) {
    .breadcrumbs {
        margin-top: 95px;
    }
}