:root {
    --primary: #DC7000;
    --secondary: #525252;
    --icon-background: #FFECEC;
    --breadcrumbs-grey: #848484;
    --grey: #898989;
    --bold-black: #222222;
    --title-black: #0B132A;
    --title-grey: #4F5665;
    --header-black: #1A1A1A;
    --white: #FFFFFF;
    --green: #2FAB73;
    --customers-background: #E5E5E5;
    --black: #000000;
    --bottom-black: #1B1B1B;
    --common-paragraph: #515151;
    --label: #4F4F4F;
}